.badge-male{
    color: #ffffff;
    background-color: #428bca;
}
.badge-female{
    color: #ffffff;
    background-color:#ce8483;
}
.badge-lg{
    font-size: 14px;
    border: none;
    line-height: 28px;
    margin: 0 2px;
    margin-bottom: 8px;
    background: #f0ad4e;
}
.table-score{

}
.table-score > thead > tr > th {
    border-bottom: 0.1px solid #ffffff;
    text-align: center;
    font-size: 20px;
    vertical-align: bottom;
}
.table-score> tbody > tr > td{
    text-align: center;
    font-size: 12px;
    line-height: 1;
}

.label-success{
    background-color:#3c763d;
}

.label-warning{
    background-color:#f7e1b5;
}