.score{
    text-align:right;
    padding-right: 30px;
}
.number-top{
    font-size: 45px;
    color: #d58512;
}
.number{
    font-size: 45px;
}
.suffix-top{
    font-size: 20px;
    color: #f0ad4e;
    padding-left: 0px;
    padding-top: 7px;
}
.suffix{
    font-size: 20px;
    color: #737373;
    padding-left: 0px;
    padding-top: 7px;
}

.panel-body{
    color: #3c3c3c;
}
.position{
    text-align: right;
    padding-right: 0px;
}
.label-list{
    padding-top: 11px;
}
